.modal-overlay {
  background-color: rgba(18, 18, 20, 0.8);

  position: fixed;
  top: 0;

  z-index: 2;

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.modal-content {
  background-color: var(--gray3);
  width: 100%;
  border-radius: 4px;
}

.register-form {
  padding: 15px;
}

.register-form > div {
  display: flex;
  margin: 15px;
  gap: 30px;
}

.register-form > div > h3 {
  font-size: 30px;
}

.register-form > div > span {
  cursor: pointer;
  position: absolute;
  left: 66%;
  top: 30%;
  color: var(--color1);
}

.register-form > label {
  font-weight: 500;
}

.register-form > input {
  width: 60%;
}